<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>[title]</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="header_left"></div>
				<div id="header_content"></div>	
				<div id="header_right"></div>
				<div id="header_logo"></div>
				<div id="header_toplist">
					<div id="toplist_topleft"></div>
					<div id="toplist_topright"></div>
					<div id="toplist_left"></div>
					<div id="toplist_content">toplist</div>
					<div id="toplist_right"></div>
					<div id="toplist_bottomleft"></div>
					<div id="toplist_bottomright"></div>
				</div>
				<div id="header_serverstats">
					<div id="serverstats_topleft"></div>
					<div id="serverstats_topright"></div>
					<div id="serverstats_left"></div>
					<div id="serverstats_content">serverstats</div>
					<div id="serverstats_right"></div>
					<div id="serverstats_bottomleft"></div>
					<div id="serverstats_bottomright"></div>
				</div>
				
			</div>
			<div id="navigation"><div class="button">button 1</div><div class="button">button 2</div></div>
			<div id="content">
				<div id="background_left"></div>
				<div id="background_right"></div>
				<div id="content_content">
					<h2>Players</h2>
					<table>
						<tr>
							<th style="width: 50px;">Rank</th>
							<th>Name</th>
							<th style="width: 90px;">Kills</th>
							<th style="width: 90px;">Deaths</th>
						</tr>
						<tr class="table_odd">
							<td>1</td>
							<td>The Mad Man</td>
							<td>1256</td>
							<td>687</td>
						</tr>
						<tr class="table_even">
							<td>2</td>
							<td>Darksendx</td>
							<td>1146</td>
							<td>456</td>
						</tr>
						<tr class="table_odd">
							<td>3</td>
							<td>Timmah</td>
							<td>1045</td>
							<td>346</td>
						</tr>
						<tr class="table_even">
							<td>4</td>
							<td>Sgt. Reckless</td>
							<td>932</td>
							<td>243</td>
						</tr>
						<tr class="table_odd">
							<td>5</td>
							<td>Kevlar</td>
							<td>912</td>
							<td>223</td>
						</tr>
					</table>
					<h2>Details</h2>
					<div class="bar_outline">
						<div class="bar_progress" style="width: 60%;"></div>
						<div class="bar_text">Hostage rescue rate</div>
						<div class="bar_percentage">60%</div>
					</div>
					<div class="bar_outline">
						<div class="bar_progress" style="width: 70%;"></div>
						<div class="bar_text">Bomb defusal rate</div>
						<div class="bar_percentage">70%</div>
					</div>
					
					<div class="bar_outline">
						<div class="ratio_bar_progress" style="right: 60%;"></div>
						<div class="bar_text">Win</div>
						<div class="ratio_bar_text_ratio">1.5</div>
						<div class="bar_percentage">Loss</div>
					</div>
					<h2>Weapons</h2>
					<div class="bar_outline">
						<div class="weapon_image" style="background-image: url('images/weapons/m4a1.png');"></div>
						<div class="weapon_progress" style="width: 50%;"></div>
						<div class="bar_text">M4A1</div>
						<div class="bar_percentage">523</div>
					</div>
					<div class="bar_outline">
						<div class="weapon_image" style="background-image: url('images/weapons/aug.png');"></div>
						<div class="weapon_progress" style="width: 40%;"></div>
						<div class="bar_text">AUG</div>
						<div class="bar_percentage">482</div>
					</div>
					<h2>Community</h2>
					<div class="steam_player">
						<div class="steam_player_status_ingame"></div>
						<div class="steam_player_image" style="background-image: url('images/logo.png');"></div>
						<div class="steam_player_text">The Mad Man[NL]<br />Ingame playing CS:S join<br />Friends since 01-01-2008</div>
					</div>
					<div class="steam_player">
						<div class="steam_player_status_online"></div>
						<div class="steam_player_image" style="background-image: url('images/logo.png');"></div>
						<div class="steam_player_text">Darksendx<br />Online<br />Friends since 01-01-2009</div>
					</div>
					<div class="steam_player">
						<div class="steam_player_status_offline"></div>
						<div class="steam_player_image" style="background-image: url('images/logo.png');"></div>
						<div class="steam_player_text">Timmah<br />Offline<br />Friends since 01-01-2009</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div id="footer_left"></div>
				<div id="footer_content"><div class="logo"><img src="images/logo_valve.png" /></div></div>
				<div id="footer_right"></div>
			</div>
		</div>
	</body>
</html>