@import url('playerdetails.css');

a:link, a:visited, a:active {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px white solid;
	color: #ffffff;
}

body {
	background-color: #000000;
	background-image: url('../images/background.png');
	background-position: top right;
	background-repeat: no-repeat;
	color: #ababab;
	font-family: arial, sans-serif;
	margin: 0;
	min-height: 600px;
	min-width: 800px;
	padding: 0;
	text-align: left;
}

h2 {
	margin: 2px;
}

table {
	border-spacing: 1px;
	width: 100%;
}

table th {
	background-image: url('../images/table_background_header.png');
	color: #000000;
}

table tr {
	background-image: url('../images/table_background_row.png');
}

#container {

}

#content {
	padding: 5px;
	/*width: 80%;*/
}

#logo {
	height: 162px;
	width: 336px;
}

#navbar {
	background-image: url('../images/navbar.png');
	background-repeat: repeat-x;
	font-weight: bold;
	height: 30px;
	padding-left: 10px;
}

.button {
	float: left;
	margin: 4px 10px;
}