#login {
	border: 1px #595959 solid;
	padding: 20px;
	text-align: center;
}

.bar_outline {
	background-image: url('../images/progress_bar_background.png');
	background-repeat: repeat-x;
	border: 1px #676767 solid;
	height: 18px;
	left: 0;
	margin: 2px 0;
	position: relative;
	top: 0;
	width: 200px;
}

.bar_progress, .weapon_progress {
	background-image: url('../images/progress_bar_progress.png');
	background-repeat: repeat-x;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

.bar_text, .ratio_bar_text_ratio, .bar_percentage {
	font-size: 14px;
	left: 1px;
	position: absolute;
	top: 1px;
}

.bar_percentage {
	font-size: 14px;
	position: absolute;
	right: 2px;
	text-align: right;
}

.ratio_bar_progress {
	background-image: url('../images/progress_bar_progress.png');
	background-repeat: repeat-x;
	height: 18px;
	position: absolute;
	width: 2px;
}

.ratio_bar_text_ratio {
	right: 0;
	text-align: center;
}

.serverselector_activeserver {
	background-color: #1d1d1d;
}

.serverselector_inactiveserver {

}

.steam_player {
	border: 1px grey solid;
	height: 40px;
	margin: 2px 0;
	position: relative;
}

.steam_player_image {
	height: 34px;
	left: 0;
	margin: 3px;
	position: absolute;
	top: 0;
	width: 34px;
}

.steam_player_status, .steam_player_status_online, .steam_player_status_ingame, .steam_player_status_offline {
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	width: 40px;
}

.steam_player_status_online {
	background-color: #4444aa;
}

.steam_player_status_ingame {
	background-color: #448844;
}

.steam_player_status_offline {
	background-color: #444444;
}

.steam_player_text {
	font-size: 11px;
	height: 100%;
	left: 42px;
	position: absolute;
	top: 0;
}